@font-face{font-family:"Anton";font-style:normal;font-weight:400;font-display:swap;src:url(anton-latin.woff2) format("woff2")}
@font-face{font-family:"Inter";font-style:normal;font-weight:400 800;font-display:swap;src:url(inter-var-latin.woff2) format("woff2")}
